[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/rpi_ws281x"]
	path = thirdparty/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
