[Unit]
Description=Robot Control
After=BizarroHomerHardwareControl.service BizarroHomerDualShock4LEDControl.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/local/bin/BizarroHomerMain
Restart=always
RestartSec=5
KillMode=process
StandardOutput=file:/var/frc1511/BizarroHomer/dashboard/main_output.log
StandardError=file:/var/frc1511/BizarroHomer/dashboard/main_error.log

[Install]
WantedBy=multi-user.target
