[Unit]
Description=Bizarro Homer Robot Control Service
[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/local/bin/BizarroHomer
Restart=on-failure
RestartSec=5
KillMode=process
[Install]
WantedBy=multi-user.target
