[Unit]
Description=Hardware Control
Before=BizarroHomer.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/BizarroHomerHardwareControl
Restart=always
RestartSec=0
KillMode=process
StandardOutput=file:/var/frc1511/BizarroHomer/diagnostic_server/hardware_control_output.log
StandardError=file:/var/frc1511/BizarroHomer/diagnostic_server/hardware_control_error.log

[Install]
WantedBy=multi-user.target
