body {
  font-family: Helvetica, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

a:link, a:visited {
  color: blue;
}

a:hover, a:active {
  color: dodgerblue;
}

table {
  border-collapse: separate;
  border-spacing: 0 0;
  width: 100%;
}

td, th {
  border: 1px solid #262626;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #262626;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.output_box {
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin: 0;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
