[Unit]
Description=DS4 LED Control
Before=BizarroHomer.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/BizarroHomerDualShock4LEDControl
Restart=on-failure
RestartSec=0
KillMode=process
StandardOutput=file:/var/frc1511/BizarroHomer/diagnostic_server/dualshock4_led_control_output.log
StandardError=file:/var/frc1511/BizarroHomer/diagnostic_server/dualshock4_led_control_error.log

[Install]
WantedBy=multi-user.target
