[Unit]
Description=Diagnostic Server
After=BizarroHomer.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/BizarroHomerDiagnosticServer
Restart=always
RestartSec=5
KillMode=process
StandardOutput=file:/var/frc1511/BizarroHomer/diagnostic_server/diagnostic_server_output.log
StandardError=file:/var/frc1511/BizarroHomer/diagnostic_server/diagnostic_server_error.log

[Install]
WantedBy=multi-user.target
